@font-face {
    font-family: 'Tronica Mono';
    src: url('../file/Tronica\ Mono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'WangHan';
    src: url('../file/WangHanZongTeMingTiFan-1.ttf') format('truetype');
}

.container {
    position: relative;
    padding: 1rem;
  }
  
  
  .top {
    font-family: 'Tronica Mono';
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center; /* center vertically */
  }

  .codete{
    margin-bottom: 0.3vw;
  }

  .top p {
    margin: 2; /* remove margin */
    flex: 0 0 auto; /* don't grow or shrink */
  }
  

.centered-text {
    position: fixed;
    text-align: center;
    right:42vw;
    margin-bottom: 2vh;
  }

.center {
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.left {
    width: 60%;
    text-align: center;
}
.right {
    width: 40%;
    position: relative;
}
img {
    width: 2rem;
}
.left .pro_img {
    width: 100%;
    max-width: 700px;
}

.logo{
    margin-left: -1rem;
    width: 8rem;
    z-index: 1;
}

li {
    list-style: none;
}

#trans{
    width: 60px;
    z-index: 2;
}

/* .left ul {
    display: flex;
    justify-content: left;
}
.left ul li {
    margin-right: 0.3rem;
} */

.time {
    margin-top:-1vh;
    font-family: 'Tronica Mono';
    text-align: right;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 50px;
    margin-right: 12px;
}

.warn {
    position: relative;
    margin-bottom: 100px;
}

.warn p {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 5px;
}
.warn .first,
.warn .two {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.warn img {
    position: absolute;
    top:2vh;
    left: 0;
}

.search {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

#keyword-input {
    height: 6.5vh;
    border-radius: 10px;
    padding-left: 18px;
    width: 35vw;
    width: 35vw;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
}
/* .search p {
    width: 3rem;
    text-align: right;
} */

button#search-btn img {
    width: 3vw;
    background-color: white ;
    padding: 0.5vw;
    border-radius: 10px;
    border: 1px solid;
  }
  

#search-btn {
    padding: 0 !important;
    margin: 0;
    cursor: pointer;
    background-color: white ;
}

#result {
    width: 100%;
    margin-left: 50px;
    overflow-y: scroll;
    max-height: 20vh;
}

.top-title {
    font-family: 'WangHan';
    font-size: 20px;
    font-weight: normal;
    position: fixed;
    text-align: center;
    margin-top: -1vh;
}

.bottom-text {
    bottom: .5rem;
    right:1vw;
    width:20vw;
    position: fixed;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Tronica Mono';
    font-size: 15px;
}

#position {
position: fixed;
  top: 2%;
  right: 0;
  padding: 5px;
  font-family: 'Tronica Mono';
  font-size: 17px;
  margin-right: 1rem;
  }

  .icon{
    position: fixed;
    bottom:2vh;
  }